[[extend 'layout.html']]

[[block header]]
[[icon='fa fa-file-pen']]
[[breadcamp = 'Edit Asset']]
[[end]]

[[block content]]
<div class="container-section">
    <div class="d-flex justify-content-between align-items-center border-bottom mx-2">
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Edit</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
                <button type="button" class="btn btn-sm btn-light d-none" id="btn_view">
                    <i class="fa-regular fa-eye"></i> <span class="ms-2">View</span>
                </button>
                <button type="button" class="btn btn-sm btn-light" id="btn_edit">
                    <i class="fa-regular fa-pen-to-square"></i> <span class="ms-2">Edit</span>
                </button>
            </div>
            <div class="p-1">
                <a href="[[=URL('asset/index')]]" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
            <div class="p-1">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="container py-2">
        <form id="uploadForm" action="[[=URL('asset','update')]]" method="post" enctype="multipart/form-data">
            <div id="custom_form">
                <input type="hidden" name="id" value="[[=request.query.get('id')]]">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="mb-2 custom_input">
                                <label for="asset_type_display" class="form-label">
                                    <strong>Asset Type <span class="is_required">*</span></strong>
                                </label>
                                <select class="form-select form-select-sm select_custom" id="asset_type" name="asset_type">
                                    <option value="">Asset Type</option>
                                    [[for asset_type in asset_type_list:]]
                                        <option value="[[=asset_type]]" [[if str(asset_type) == str(selected_asset_type):]]selected[[pass]]>[[=asset_type]]</option>
                                    [[pass]]
                                </select>
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="asset_brand_display" class="form-label">
                                    <strong>Asset Brand <span class="is_required">*</span></strong>
                                </label>
                                <select class="form-select form-select-sm select_custom" id="asset_brand" name="asset_brand">
                                    <option value="">Asset Brand</option>
                                    [[for asset_brand in asset_brand_list:]]
                                        <option value="[[=asset_brand]]" [[if str(asset_brand) == str(selected_asset_brand):]]selected[[pass]]>[[=asset_brand]]</option>
                                    [[pass]]
                                </select>
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="asset_model_display" class="form-label">
                                    <strong>Asset Model <span class="is_required">*</span></strong>
                                </label>
                                <select class="form-select form-select-sm select_custom" id="asset_model" name="asset_model">
                                    <option value="">Asset Model</option>
                                    [[for asset_model in asset_model_list:]]
                                        <option value="[[=asset_model]]" [[if str(asset_model) == str(selected_asset_model):]]selected[[pass]]>[[=asset_model]]</option>
                                    [[pass]]
                                </select>
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="asset_color_display" class="form-label">
                                    <strong>Asset Color <span class="is_required">*</span></strong>
                                </label>
                                <select class="form-select form-select-sm select_custom" id="asset_color" name="asset_color">
                                    <option value="">Asset Color</option>
                                    [[for asset_color in asset_color_list:]]
                                        <option value="[[=asset_color]]" [[if str(asset_color) == str(selected_asset_color):]]selected[[pass]]>[[=asset_color]]</option>
                                    [[pass]]
                                </select>
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="purchase_price_display" class="form-label">
                                    <strong>Purchase Price</strong>
                                </label>
                                <input type="number" class="form-control form-control-sm" id="purchase_price_display" value="[[=record['purchase_price']]]">
                                <input type="hidden" id="purchase_price" name="purchase_price" value="[[=record['purchase_price']]]">
                            </div>
                        </div>
                    </div>

                    <!-- Second column -->
                    <div class="col-md-3">
                        <div class="row">
                            <div class="mb-2 custom_input">
                                <label for="asset_name" class="form-label"><strong>Asset Name</strong></label>
                                <input type="text" class="form-control form-control-sm" id="asset_name" name="asset_name" value="[[=record['asset_name']]]">
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="asset_model_year" class="form-label"><strong>Asset Model Year</strong></label>
                                <input type="text" class="form-control form-control-sm" id="asset_model_year" name="asset_model_year" value="[[=record['model_year']]]">
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="registration_no" class="form-label"><strong>Registration No</strong></label>
                                <input type="text" class="form-control form-control-sm" id="registration_no" name="registration_no" value="[[=record['reg_number']]]">
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="engine_no" class="form-label"><strong>Engine No</strong></label>
                                <input type="text" class="form-control form-control-sm" id="engine_no" name="engine_no" value="[[=record['engine_number']]]">
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="engine_info" class="form-label"><strong>Engine Info</strong></label>
                                <input type="text" class="form-control form-control-sm" id="engine_info" name="engine_info" value="[[=record['engine_info']]]">
                            </div>
                            
                        </div>
                    </div>

                    <!-- Third column -->
                    <div class="col-md-3">
                        <div class="row">
                            

                            <div class="mb-2 custom_input">
                                <label for="chasis_no" class="form-label"><strong>Chasis No</strong></label>
                                <input type="text" class="form-control form-control-sm" id="chasis_no" name="chasis_no" value="[[=record['chassis_number']]]">
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="asset_condition" class="form-label"><strong>Asset Condition <span class="is_required">*</span></strong></label>
                                <select class="form-select form-select-sm select_custom" id="asset_condition" name="asset_condition">
                                    <option value="">Asset Condition</option>
                                    [[for asset_condition in asset_condition_list:]]
                                        <option value="[[=asset_condition]]" [[if str(asset_condition) ==str(selected_asset_condition):]]Selected[[pass]]> [[=asset_condition]] </option>
                                    [[pass]]
                                </select>
                            </div>

                            <div class=" mb-2 custom_input">
                                <label for="asset_status" class="form-label"><strong>Asset Status <span class="is_required">*</span></strong></label>
                                <select class="form-select form-select-sm select_custom" id="asset_status" name="asset_status">
                                    <option value="">Asset Status</option>
                                    [[for asset_status in asset_status_list:]]
                                        <option value="[[=asset_status]]" [[if str(asset_status) ==str(selected_asset_status):]]Selected[[pass]]> [[=asset_status]] </option>
                                    [[pass]]
                                </select>
                            </div>

                            

                            <div class="mb-2 custom_input">
                                <label for="current_location" class="form-label"><strong>Current Location</strong></label>
                                <input type="text" class="form-control form-control-sm" id="current_location" name="current_location" value="[[=record['current_location']]]">
                            </div>

                            <div class="mb-2 custom_input">
                                <label for="first_issue_date" class="form-label"><strong>First Issue Date <span class="is_required">*</span></strong></label>
                                <div class="flatpickr-wrapper">
                                    <input type="text" class="date-picker" id="first_issue_date" name="first_issue_date" placeholder="First Issue Date" value="[[=record['first_issue_date']]]">
                                    <i class="fa fa-calendar calendar-icon text-secondary calendar-toggle"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fourth column -->
                    <div class="col-md-3">
                        <div class="row">
                            <!-- ✅ User field as readonly input -->

                            <div class="mb-2">
                                <label for="emp_id_display" class="form-label"><strong>Assigned Employee</strong></label>
                                <input type="text" 
                                    class="form-control form-control-sm readonly-input" 
                                    id="emp_id_display" 
                                    value="[[=selected_emp]]" 
                                    readonly>
                                <input type="hidden" id="emp_id" name="emp_id" value="[[=selected_emp]]">
                            </div>


                            <div class=" mb-2 custom_input">
                                <label for="owner" class="form-label"><strong>Owner <span class="is_required">*</span></strong></label>
                                <select class="form-select form-select-sm select_custom" id="owner" name="owner">
                                    <option value="">Select Owner</option>
                                    [[for owner in owner_list:]]
                                        <option value="[[=owner]]" [[if str(owner) == str(selected_owner):]]Selected[[pass]]> [[=owner]] </option>
                                    [[pass]]
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row d-none" id="edit_view_section">
                <div class="col-12">
                    <div class="d-flex justify-content-start">
                        <div class="me-2">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Update</span>
                            </button>
                        </div>
                        <div class="">
                            <button type="reset" class="btn btn-sm btn-light">
                                <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
[[end]]

[[block scripts]]

[[end]]
