[[extend 'layout.html']]

[[block header]]
[[icon='fa fa-file-pen']]
[[breadcamp = 'Edit Purchase']]
[[end]]
[[block content]]
<style>
    .table-responsive {
        overflow-x: auto !important;
    }

    .locked-row {
        background-color: #FFFFFF!important;
        color: #FFFFFF!important;
    }
    .item_gross_total, .item_net_total {
        background-color: #9b9b9b; 
        text-align: center; 
        vertical-align: middle;
        font-weight: bold;
    }

    .locked-row select
    {
        background-color: #FFFFFF !important;
        color: #FFFFFF !important;
    }

    .quantity_input::-webkit-input-placeholder {
        color: #bbb !important;
        font-style: italic;
    }
    .quantity_input:-moz-placeholder {
        color: #bbb !important;
        font-style: italic;
        opacity: 1;
    }
    .quantity_input::-moz-placeholder {
        color: #bbb !important;
        font-style: italic;
        opacity: 1;
    }
    .quantity_input:-ms-input-placeholder {
        color: #bbb !important;
        font-style: italic;
    }
    .quantity_input::placeholder {
        color: #bbb !important;
        font-style: italic;
    }

    table.table tbody tr, 
    table.table tbody tr td {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        line-height: 1.25;
    }

    #purchaseTable thead tr th {
        color: #544dc9 !important;
        text-align: center;
        vertical-align: middle;
    }

    #purchaseTable tfoot tr {
        font-weight: bold;
        background-color: #dee2e6;
    }

    
</style>

<div class="container-section" id="pageContent" style="display:none;">
    <div class="d-flex justify-content-between align-items-center border-bottom mx-2">
        
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Edit</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
                <button type="button" class="btn btn-sm btn-light d-none" id="btn_view">
                    <i class="fa-regular fa-eye"></i> <span class="ms-2">View</span>
                </button>
                <button type="button" class="btn btn-sm btn-light" id="btn_edit">
                    <i class="fa-regular fa-pen-to-square"></i> <span class="ms-2">Edit</span>
                </button>
            </div>
            <div class="p-1">
                <a href="[[=URL('purchase/index')]]" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
            <div class="p-1">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>
                    [[if check_role("purchase_delete")==True:]]
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="delete?id=[[=request.query.get('id')]]" id="delete_btn">
                            <i class="fa-solid fa-trash-can"></i><span class="ms-2">Delete</span></a>
                    </div>
                    [[pass]]
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2">
        <form id="uploadForm" action="[[=URL('purchase','update')]]" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="[[=request.query.get('id')]]">
            <div id="custom_form">
                <div class="row">
                    <div class="col-md-3 mb-2 custom_input">
                        <label for="vendor_id" class="form-label"><strong>Vendor <span class="is_required">*</span></strong></label>
                            <select class="form-select form-select-sm select_custom" id="vendor_id" name="vendor_id">
                                <option value="">Vendor</option>
                                [[for vendor in vendor_results:]]
                                    [[ vendor_value = str(vendor['id']) + " | " + vendor['text'] ]]
                                    <option value="[[=vendor_value]]"
                                        [[if vendor_value == str(selected_vendor):]]Selected[[pass]]>
                                        [[=vendor['text']]]
                                    </option>
                                [[pass]]
                            </select>

                    </div>
                    <div class="col-md-3 mb-2 custom_input">
                        <label for="bill_no" class="form-label"><strong>Bill No</strong></label>
                        <input type="text" class="form-control form-control-sm" id="bill_no" name="bill_no" value="[[=notdata['bill_no']]]">
                    </div>
                    <div class="col-md-3 mb-2 custom_input">
                        <label for="purchase_date" class="form-label"><strong>Purchase Date <span class="is_required">*</span></strong></label>
                        <div class="flatpickr-wrapper">
                            <input type="text" class="date-picker" id="purchase_date" name="purchase_date" value="[[=notdata['purchase_date']]]" placeholder=" Purchase Date">
                            <i class="fa fa-calendar calendar-icon text-secondary calendar-toggle"></i>                            
                        </div>
                    </div>

                    <div class="col-md-3 mb-2 custom_input">
                        <label for="payment_type" class="form-label"><strong>Payment Type <span class="is_required">*</span></strong></label>
                        <select class="form-select form-select-sm select_custom" id="payment_type" name="payment_type" >
                            <option value="">Select Payment Type</option>
                            [[for payment_type in payment_type_combos:]]
                                <option value="[[=payment_type['text']]]"
                                    [[if str(payment_type['text']) == str(selected_payment_type):]]Selected[[pass]]>
                                    [[=payment_type['text']]]
                                </option>
                            [[pass]]
                        </select>
                    </div>

                    <div class="col-md-3 mb-2 custom_input">
                        <label for="payment_status" class="form-label"><strong>Payment Status</strong></label>
                        <select class="form-select form-select-sm select_custom" id="payment_status" name="payment_status">
                            <option value="">Select Payment Status</option>
                            [[for payment_status in payment_status_combos:]]
                                <option value="[[=payment_status['text']]]"
                                    [[if str(payment_status['text']) == str(selected_payment_status):]]Selected[[pass]]>
                                    [[=payment_status['text']]]
                                </option>
                            [[pass]]
                        </select>
                    </div>
                </div>

                <div class="table-responsive mt-2" style="margin-bottom: 0 !important; margin-bottom: 0 !important; padding-bottom: 0 !important;">
                    <table class="table table-bordered table-sm align-middle" id="purchaseTable" style="margin-bottom: 0 !important;">
                        <thead>
                            <tr style="background-color: #ccc9fa;">
                                <th class="text-truncate" style="width: 100px;">Requisition Details</th>
                                <th class="text-truncate" style="width: 120px;">Vehicle Brand</th>
                                <th class="text-truncate" style="width: 100px;">Vehicle Model</th>
                                <th class="text-truncate" style="width: 100px;">Vehicle Color</th>
                                <th class="text-truncate" style="width: 80px;">Purchase Date</th>
                                <th class="text-truncate" style="width: 80px;">Status</th>
                                <th class="text-truncate" style="width: 40px;">Quantity</th>
                                <th class="text-truncate" style="width: 75px;">Item Price</th>
                                <th class="text-truncate" style="width: 75px;">Gross Total</th>
                                <th class="text-truncate" style="width: 75px;">Discount</th>
                                <th class="text-truncate" style="width: 75px;">Net Total</th>
                                <th class="text-truncate" style="width: 35px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="text-end d-none mt-2" id="addRowSection">
                    <button type="button" class="btn btn-sm btn-primary" id="addRowBtn">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>

                <input type="hidden" id="purchaseItemsJson" name="purchase_items_json" />

                <div class="row">
                    <div class="col-md-7">
                        <div class="mb-3 mt-2">
                            <textarea placeholder="Remarks.." id="remarks" name="remarks" class="form-control form-control-sm" style="height:auto; min-height: 6.8rem; border-radius: 0.4rem;" oninput="this.style.height='auto'; this.style.height = this.scrollHeight + 'px'">[[=notdata['remarks']]]</textarea>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <table class="table table-bordered mt-2">
                            <thead class="">
                                <tr style="background-color: #ccc9fa;">
                                    <th style="color: #544dc9;" colspan="2" class="text-center">Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Price</td>
                                    <td id="summaryTotalPrice" class="text-end">0.00</td>
                                </tr>
                                <tr>
                                    <td>Total Discount</td>
                                    <td id="summaryTotalDiscount" class="text-end">0.00</td>
                                </tr>
                                <tr>
                                    <td style="color: #544dc9;"><strong>Total Payable</strong></td>
                                    <td style="color: #544dc9;" id="summaryTotalPayable" class="text-end"><strong>0.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div id="edit_view_section" class="d-none d-flex gap-2 w-100 align-items-center">
                        <!-- Left side: Update / Reset -->
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Update</span>
                            </button>

                            <button type="reset" class="btn btn-sm btn-light">
                                <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
[[end]]

[[block scripts]]
<script>
$(document).ready(async function(){

    const purchaseEntries = JSON.parse('[[=XML(entrys_json or "[]")]]');
    let requisitionOptions = `<option value="">Select</option>`;
    let requisitionAssetMap = {};
    let defaultAssetMap = {};

    async function loadRequisitionOptions() {
        try {
            const data = await $.getJSON("/expense/default/get_requisition_details_with_asset_details");
            requisitionOptions = `<option value="">Select</option>`;
            requisitionAssetMap = {};
            defaultAssetMap = {};

            data.results.forEach(item => {
                requisitionOptions += `<option value="${item.req_id}">${item.req_id} | ${item.asset_type}</option>`;

                requisitionAssetMap[item.req_id] = {
                    asset_type: item.asset_type,
                    max_quantity: parseInt(item.max_quantity, 10) || 0
                };

                defaultAssetMap[item.req_id] = {
                    asset_type: item.asset_type,
                    asset_brand: item.asset_brand,
                    asset_model: item.asset_model,
                    asset_color: item.asset_color,
                    max_quantity: parseInt(item.max_quantity, 10) || 0
                };
            });
        } catch (err) {
            console.error("Failed to load requisition IDs:", err);
        }
    }

    function initSelectCustom(context) {
        $(context).find('.select_custom').each(function () {
            const placeholder = $(this).attr('placeholder') || "";
            $(this).select2({
                placeholder: placeholder,
                allowClear: true,
                width: '100%'
            });
        });
    }

    function updateTotals() {
        let totalGross = 0, totalDiscount = 0, totalNet = 0;

        $("#purchaseTable tbody tr").each(function () {
            const $tr = $(this);
            const quantity = parseFloat($tr.find("input.quantity_input").val()) || 0;
            const price = parseFloat($tr.find("input.item_price_input").val()) || 0;
            const discount = parseFloat($tr.find("input.item_discount_input").val()) || 0;

            const gross = quantity * price;
            const net = gross - discount;

            $tr.find(".item_gross_total").text(gross.toFixed(2));
            $tr.find(".item_net_total").text(net.toFixed(2));

            totalGross += gross;
            totalDiscount += discount;
            totalNet += net;
        });

        $("#summaryTotalPrice").text(totalGross.toFixed(2));
        $("#summaryTotalDiscount").text(totalDiscount.toFixed(2));
        $("#summaryTotalPayable").html(`<strong style="color: #544dc9;">${totalNet.toFixed(2)}</strong>`);
    }

    async function createRow(data = null, disableDelete = false, editable = false, locked=false) {
        if (requisitionOptions === `<option value="">Select</option>`) await loadRequisitionOptions();
        const islocked = locked ? 'disabled' :'';
        const inputClass = editable ? '' : 'custom_input';
        const deleteBtn = (disableDelete || locked) 
            ? '' 
            : `<button type="button" class="btn btn-sm removeRowBtn" style="background-color:white; border:none; color:var(--bs-danger); font-size:18px;">
                <i class="fa fa-trash"></i>
            </button>`;

        const rowClass = locked ? 'locked-row' : '';
        const row = `
            <tr class="${rowClass}">
                <td class="${inputClass}">
                    <select class="form-select form-select-sm select_custom no-border-select2 req_id_select" name="req_id[]" required ${islocked}>
                        ${requisitionOptions}
                    </select>
                    <input type="hidden" name="item_asset_created[]" value="${data ? data.item_asset_created : ''}">
                </td>
                <td class="${inputClass}" style="display:none;">
                    <select class="form-select form-select-sm select_custom no-border-select2 asset_type_select" name="asset_type[]" required ${islocked}>
                        <option value=""></option>
                        [[for asset_type in asset_types:]]
                            <option value="[[=asset_type['text']]]">[[=asset_type['text']]]</option>
                        [[pass]]
                    </select>
                </td>
                <td class="${inputClass}">
                    <select class="form-select form-select-sm select_custom no-border-select2 asset_brand_select" name="asset_brand[]" required ${islocked}>
                        <option value=""></option>
                        [[for asset_brand in asset_brands:]]
                            <option value="[[=asset_brand['text']]]">[[=asset_brand['text']]]</option>
                        [[pass]]
                    </select>
                </td>
                <td class="${inputClass}">
                    <select class="form-select form-select-sm select_custom no-border-select2 asset_model_select" name="asset_model[]" required ${islocked}>
                        <option value=""></option>
                        [[for asset_model in asset_models:]]
                            <option value="[[=asset_model['text']]]">[[=asset_model['text']]]</option>
                        [[pass]]
                    </select>
                </td>
                <td class="${inputClass}">
                    <select class="form-select form-select-sm select_custom no-border-select2 asset_color_select" name="asset_color[]" required ${islocked}>
                        <option value=""></option>
                        [[for asset_color in asset_colors:]]
                            <option value="[[=asset_color['text']]]">[[=asset_color['text']]]</option>
                        [[pass]]
                    </select>
                </td>
                <td class="${inputClass}"><input type="text" class="form-control form-control-sm datepicker no-border-input purchase_date_input" name="purchase_date[]" required ${islocked}></td>
                <td class="${inputClass}">
                    <select class="form-select form-select-sm select_custom no-border-select2 receive_status" required ${islocked}>
                        <option value=""></option>
                        [[for receive_status in receive_status:]]
                            <option value="[[=receive_status['text']]]">[[=receive_status['text']]]</option>
                        [[pass]]
                    </select>
                </td>
                <td class="${inputClass}"><input type="number" step="1" min="0" class="form-control form-control-sm no-border-input quantity_input" name="quantity[]" value="" required ${islocked}></td>
                <td class="${inputClass}"><input type="number" step="0.01" class="form-control form-control-sm no-border-input item_price_input" name="item_price[]" required ${islocked}></td>
                <td class="item_gross_total ${islocked}" style="color: #544dc9;" readonly>0.00</td>
                <td class="${inputClass}"><input type="number" step="0.01" class="form-control form-control-sm no-border-input item_discount_input" name="item_discount[]" ${islocked}></td>
                <td class="item_net_total ${islocked}" style="color: #544dc9;" readonly>0.00</td>
                <td class="${inputClass}">${deleteBtn}</td>
            </tr>
        `;

        const $row = $(row);
        $("#purchaseTable tbody").append($row);
        initSelectCustom($row);
        $row.find(".datepicker").flatpickr({ dateFormat: "Y-m-d" });
        $row.find("input[name='item_price[]'], input[name='item_discount[]'], input[name='quantity[]']").on('input', updateTotals);

        if(data) {
            $row.find(".req_id_select").val(data.req_id).trigger('change');
            $row.find(".asset_type_select").val(data.asset_type).trigger('change');
            $row.find(".asset_brand_select").val(data.asset_brand).trigger('change');
            $row.find(".asset_model_select").val(data.asset_model).trigger('change');
            $row.find(".asset_color_select").val(data.asset_color).trigger('change');
            $row.find(".receive_status").val(data.receive_status).trigger('change');
            $row.find("input.purchase_date_input").flatpickr().setDate(data.purchase_date, true);
            if(data.received_date) $row.find("input.received_date_input").flatpickr().setDate(data.received_date, true);

            $row.find("input.quantity_input").val(data.quantity || "");
            $row.find("input.item_price_input").val(data.item_price);
            $row.find("input.item_discount_input").val(data.item_discount);

            // Set gross/net totals
            $row.find(".item_gross_total").text(parseFloat(data.item_gross_total || 0).toFixed(2));
            $row.find(".item_net_total").text(parseFloat(data.item_net_total || 0).toFixed(2));

            updateTotals(); // <-- recalc totals for table summary
        }


        $row.find(".req_id_select").on("change", function () {
            const selectedReqId = $(this).val();
            const $tr = $(this).closest("tr");
            const assetData = defaultAssetMap[selectedReqId] || { asset_type: "", max_quantity: 0 };

            // auto fill asset type
            $tr.find(".asset_type_select").val(assetData.asset_type).trigger('change');

            // update quantity input with max limit & placeholder (even if 0)
            const $qty = $tr.find(".quantity_input");
            $qty.val("")
                .attr("placeholder", `max ${assetData.max_quantity}`)
                .attr("max", assetData.max_quantity);

            // focus/blur placeholder toggle
            $qty.off("focus blur").on("focus", function () {
                $(this).attr("data-placeholder", $(this).attr("placeholder"));
                $(this).attr("placeholder", "");
            }).on("blur", function () {
                if (!$(this).val()) {
                    $(this).attr("placeholder", $(this).attr("data-placeholder"));
                }
            });
        });

        $row.find(".asset_type_select").on("change", async function() {
            const $tr = $(this).closest("tr");
            const asset_type = $(this).val();
            $tr.find(".asset_brand_select").empty().append('<option value=""></option>');
            $tr.find(".asset_model_select").empty().append('<option value=""></option>');
            if(asset_type) {
                try {
                    const res = await $.getJSON("/expense/asset/get_brands_by_type", { asset_type });
                    res.results.forEach(brand => {
                        $tr.find(".asset_brand_select").append(`<option value="${brand}">${brand}</option>`);
                    });
                } catch(err) { console.error("Failed to fetch brands:", err); }
            }
        });

        $row.find(".asset_brand_select").on("change", async function() {
            const $tr = $(this).closest("tr");
            const asset_type = $tr.find(".asset_type_select").val();
            const asset_brand = $(this).val();
            $tr.find(".asset_model_select").empty().append('<option value=""></option>');
            if(asset_type && asset_brand) {
                try {
                    const res = await $.getJSON("/expense/asset/get_models_by_brand", { asset_type, asset_brand });
                    res.results.forEach(model => {
                        $tr.find(".asset_model_select").append(`<option value="${model}">${model}</option>`);
                    });
                } catch(err) { console.error("Failed to fetch models:", err); }
            }
        }); 

        $row.find(".asset_model_select").on("change", async function() {
            const $tr = $(this).closest("tr");
            const asset_type = $tr.find(".asset_type_select").val();
            const asset_brand = $tr.find(".asset_brand_select").val();
            const asset_model = $(this).val();
            $tr.find(".asset_color_select").empty().append('<option value=""></option>');
            if(asset_type && asset_brand && asset_model) {
                try {
                    const res = await $.getJSON("/expense/asset/get_colors_by_model", { asset_type, asset_brand, asset_model });
                    res.results.forEach(color => {
                        $tr.find(".asset_color_select").append(`<option value="${color}">${color}</option>`);
                    });
                } catch(err) { console.error("Failed to fetch models:", err); }
            }
        }); 
    }

    const style = document.createElement('style');
    style.innerHTML = `
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; margin: 0; 
    }
    input[type=number] { -moz-appearance: textfield; }
    `;
    document.head.appendChild(style);

    $(async function() {
        if(purchaseEntries.length > 0) {
            for(let i = 0; i < purchaseEntries.length; i++) {
                islocked = purchaseEntries[i].item_asset_created ? true : false;
                await createRow(purchaseEntries[i], i === 0, false, islocked);
            }
        } else await createRow(true);

        $("#addRowBtn").on("click", async function () { await createRow(null, false, true); });
        $(document).on("click", ".removeRowBtn", function () {
            if ($("#purchaseTable tbody tr").length > 1) {
                $(this).closest("tr").remove();
                updateTotals();
            } else alert("You must have at least one row in the table.");
        });

        updateTotals();
    });

    $("#uploadForm").on("submit", function(e){
        const items = $("#purchaseTable tbody tr").map(function () {
            const $tr = $(this);
            return {
                req_id: $tr.find(".req_id_select").val() || "",
                asset_type: $tr.find(".asset_type_select").val() || "",
                asset_brand: $tr.find(".asset_brand_select").val() || "",
                asset_model: $tr.find(".asset_model_select").val() || "",
                asset_color: $tr.find(".asset_color_select").val() || "",
                purchase_date: $tr.find("input.purchase_date_input").val() || "",
                receive_status: $tr.find("select.receive_status").val() || "",
                received_date: $tr.find("input.received_date_input").val() || "",
                quantity: $tr.find("input.quantity_input").val() || "0",
                item_price: $tr.find("input.item_price_input").val() || "0",
                item_gross_total: $tr.find(".item_gross_total").text() || "0",
                item_net_total: $tr.find(".item_net_total").text() || "0",
                item_discount: $tr.find("input.item_discount_input").val() || "0",
                item_asset_created: $tr.find("input[name='item_asset_created[]']").val() || "0"
            };
        }).get();

        if (items.length === 0) { alert("Please add at least one purchase item."); e.preventDefault(); return; }

        $("#purchaseTable .select2-selection").removeClass("border border-danger");

        $("#purchaseItemsJson").val(JSON.stringify(items));
    });

    $('#pageContent').show();

});
</script>
[[end]]








