[[
if len(request.path.split('/'))>2:
_controller_name = request.path.split('/')[2]
else:
_controller_name = ''
pass
]]
<aside id="sidebar" class="sidebar break-point-sm has-bg-image">
  <a id="btn-collapse" class="sidebar-collapser"><i class="fa-solid fa-angle-left"></i></a>
  <div class="image-wrapper">
    <img src="#" alt="sidebar background" />
  </div>

  <div class="sidebar-layout">

    <div class="sidebar-header">
      <a href="[[=URL('dashboard','index')]]" style="color: inherit;">
        <div class="pro-sidebar-logo" style="padding-top: 5px;">
          <div style="background-color:inherit; padding-bottom: 5px;">
            <img src="[[=URL('static','tsmall.png')]]" height="25" alt="circulation logo">
          </div>
          <h5 class="fw-bold">EXPENSE</h5>
        </div>
      </a>
    </div>

    <div class="sidebar-content">
      <nav class="menu open-current-submenu">
        <ul>

          <li class="menu-header">
            <span> Home </span>
          </li>

          <li class="menu-item">
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item [[if _controller_name=='dashboard':]]active_link[[pass]]">
                  <a href="[[=URL('dashboard/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-chart-area"></i></span>
                    <span class="menu-title">Dashboard</span>
                  </a>
                </li>
              </ul>
            </div>
          </li> 


          <li class="menu-header">
            <span> Master Setup </span>
          </li>
          [[if check_role("vendor_view")==True:]]
          <li class="menu-item [[if _controller_name=='vendor':]]active_link[[pass]]">
              <a href="[[=URL('vendor/index')]]">
                  <span class="menu-icon">
                      <i class="fa-solid fa-shop"></i>
                  </span>
                  <span class="menu-title">Vendor</span>
              </a>
          </li>
          [[pass]]


          [[if check_role("asset_type_view")==True:]]
          <li class="menu-item [[if _controller_name=='asset_type':]]active_link[[pass]]">
              <a href="[[=URL('asset_type/index')]]">
                  <span class="menu-icon">
                      <i class="fa-solid fa-tags"></i>
                  </span>
                  <span class="menu-title">Vehicle Type</span>
              </a>
          </li>
          [[pass]]


          [[if check_role("transaction_config_view")==True:]]
          <li class="menu-item sub-menu [[if _controller_name in ['transaction_config']:]]open[[pass]]">
            <a href="#">
              <span class="menu-icon">
                <i class="fa-solid fa-network-wired"></i>
              </span>
              <span class="menu-title">Transaction Setup</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item [[if _controller_name=='transaction_config':]]active_link[[pass]]">
                  <a href="[[=URL('transaction_config/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-warehouse"></i></span>
                    <span class="menu-title">Transaction Config</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          [[pass]]

          <li class="menu-header">
            <span> Operations </span>
          </li>

          <!-- [[if check_role("requisition_individual_view") or check_role("requisition_org_view") :]] -->
          <li class="menu-item sub-menu [[if _controller_name in ['requisition_individual','requisition_org']:]]open[[pass]]">
            <a href="#">
              <span class="menu-icon">
                <i class="fa-solid fa-network-wired"></i>
              </span>
              <span class="menu-title">Requisition</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                [[if check_role("requisition_individual_view")==True:]]
                <li class="menu-item [[if _controller_name=='requisition_individual':]]active_link[[pass]]">
                  <a href="[[=URL('requisition_individual/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-warehouse"></i></span>
                    <span class="menu-title">Individual</span>
                  </a>
                </li>
                [[pass]]
              </ul>
            </div>
            <div class="sub-menu-list">
              <ul>
                [[if check_role("requisition_org_view")==True:]]
                <li class="menu-item [[if _controller_name=='requisition_org':]]active_link[[pass]]">
                  <a href="[[=URL('requisition_org/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-warehouse"></i></span>
                    <span class="menu-title">Organization</span>
                  </a>
                </li>
                [[pass]]
              </ul>
            </div>
          </li>
          <!-- [[pass]] -->

          [[if check_role("purchase_view")==True:]]
          <li class="menu-item [[if _controller_name=='purchase':]]active_link[[pass]]">
              <a href="[[=URL('purchase/index')]]">
                  <span class="menu-icon">
                      <i class="fa-solid fa-sack-dollar"></i>
                  </span>
                  <span class="menu-title">Purchase</span>
              </a>
          </li>
          [[pass]]

          [[if check_role("asset_view")==True:]]
          <li class="menu-item [[if _controller_name=='asset':]]active_link[[pass]]">
              <a href="[[=URL('asset/index')]]">
                  <span class="menu-icon">
                      <i class="fa-solid fa-warehouse"></i>
                  </span>
                  <span class="menu-title">Vehicle</span>
              </a>
          </li>
          [[pass]]


          <li class="menu-header">
            <span> Transaction </span>
          </li>

          [[if check_role("transaction_view")==True:]]
          <li class="menu-item sub-menu [[if _controller_name in ['allocation','transfer', 'ownership_transfer']:]]open[[pass]]">
            <a href="#">
              <span class="menu-icon">
                <i class="fa-solid fa-network-wired"></i>
              </span>
              <span class="menu-title">Movement</span>
            </a>
            [[
              from apps.expense.common_fn import get_tr_types
              data = get_tr_types()
              
              
            ]]
            

            [[for type in data:]]
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item [[if _controller_name=='transaction' and request.query.get('type') == type['tr_type']:]]active_link[[pass]]">
                  <a href="[[=URL('transaction/index')]]?type=[[=type['tr_type']]]">
                    <span class="menu-icon"><i class="fa-solid fa-warehouse"></i></span>
                    <span class="menu-title">[[=type['tr_type']]]</span>
                  </a>
                </li>
              </ul>
            </div>
            [[pass]]

          </li>
          [[pass]]
        </ul>
      </nav>
    </div>

    <div class="sidebar-footer d-flex justify-content-between">
      <a href="#">
        <i class="fa fa-bell"></i>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
      </a>
      <a href="[[=URL('logout')]]">
        <i class="fa fa-power-off"></i>
      </a>
    </div>

  </div>
</aside>