[[extend 'layout.html']]

[[block header]]
[[icon='fa-solid fa-right-left']]
[[breadcamp = '%s' % (request.query.get('type') or '')]]
[[end]]

[[block content]]
<div class="container-section mx-2">
    <div class="row">

        <div class="col-md-1 mt-2 mb-2">
            <span class="icon-text icon-text-bold">
                <i class="fa-solid fa-table-list"></i>
                <span>Table</span>
            </span>
        </div>

        <div class="col-md-10 mt-2">
            <div class="row" id="custom_form">
                <div class="col-md-2 mb-2">
                    <div class="">
                        <select id="asset_type" class="form-select form-select-sm select_custom" 
                                name="asset_type" placeholder="Vehicle Type">
                            <option value="">Vehicle Type</option>
                        </select>
                    </div>   
                </div>

                <div class="col-md-2 mb-2">
                    <div class="">
                        <select id="asset_id" class="form-select form-select-sm select_custom" 
                                name="asset_id" placeholder="Vehicle Id">
                            <option value="">Vehicle Id</option>
                        </select>
                    </div>   
                </div>


                <div class="col-md-2 mb-2">

                </div>

                <div class="col-md-2 mb-2">

                </div>
                <div class="col-md-4 mb-2 d-flex justify-content-end">
                    <div class="me-3">
                        <button type="submit" id="submit" class="btn btn-sm btn-primary">
                            <i class="fa-solid fa-magnifying-glass"></i> <span class="ms-2">Search</span>
                        </button>
                    </div>
                    <div>
                        <button type="reset" id="reset" class="btn btn-sm btn-light">
                            <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 mt-2 mb-2">
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="width:90px;">
                        Action
                    </button>
                    <div class="dropdown-menu">
                        [[if check_role("transaction_create")==True:]]
                        <a class="dropdown-item" href="[[=URL('transaction/create')]]?type=[[=tr_type]]">
                            <i class="fas fa-add me-1"></i> Add
                        </a>
                        [[pass]]
                        <button class="dropdown-item" id="ExportExcel">
                            <i class="fas fa-file-excel me-1"></i> Excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="myTable" class="table table-bordered compact" style="width:100%">
            <thead class="text-truncate"></thead>
            <tbody></tbody>
        </table>
    </div>

    <input type="hidden" id="tr_type" name="tr_type" value="[[=tr_type]]">
</div>
[[end]]

[[block scripts]]
<script>
$(document).ready(function() {
    $("[name='asset_type']").one('select2:open', function (e) {
            $.ajax({
                url: '[[=URL("default", "get_asset_master_types")]]',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    const $select = $("[name='asset_type']");
                    $select.empty();

                    $select.select2({
                        data: data.results, // already in correct {id, text} format
                        placeholder: "Select Asset Type",
                        allowClear: true
                    }).select2('open');
                }

            });
        });

    $("[name='asset_id']").one('select2:open', function (e) {
            $.ajax({
                url: '[[=URL("default", "get_distinct_asset_ids")]]',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    const $select = $("[name='asset_id']");
                    $select.empty();

                    $select.select2({
                        data: data.results, // already in correct {id, text} format
                        placeholder: "Select Asset Id",
                        allowClear: true
                    }).select2('open');
                }

            });
        });

    $("#filter").click(function() {
        $("#custom_form").fadeToggle("slow");
    });

    var table = $('#myTable').DataTable({
        dom: "Bfrt<'d-flex justify-content-between'<l><i><p>>",
        buttons: [{
            extend: 'excel',
            title: 'Transfer Transactions',
            filename: 'Transfer_Transactions',
            exportOptions: { columns: ':visible' }
        }],
        order: [6, 'desc'],
        searching: false,
        paging: true,
        serverSide: true,
        scrollX: true,
        scrollY: "413px",
        fixedHeader: true,
        fixedColumns: { left: 1, right: 1 },
        lengthMenu: [
            [15, 50, 100, -1],
            [15, 50, 100, 'All']
        ],
        ajax: {
            async: true,
            type: 'GET',
            url: '[[=URL("transaction","get_data")]]',
            data: function(d) {
                d.type = $("#tr_type").val();
                d.asset_type = $("#asset_type").val();
                d.asset_id = $("#asset_id").val();
            },
            dataSrc: 'data'
        },
        columns: [
            { title: 'SL No.', data: null, render: function(data, type, row, meta) {
                return meta.row + 1;
            }},
            { 
                title: 'Status', 
                data: 'status', 
                className: 'text-center',  
                render: function(d) {
                    let status = (d || '').toLowerCase();
                    let label = d ?? '-';
                    let badgeClass = 'bg-secondary';
                    
                    if (status === 'pending') badgeClass = 'bg-warning text-dark';
                    else if (status === 'approved') badgeClass = 'bg-success';
                    
                    return `<span class="badge ${badgeClass} d-inline-block text-center" 
                                style="min-width:80px;">
                                ${label}
                            </span>`;
                } 
            },
            { title: 'Transaction Type', data: 'trans_type', render: d => d ?? '-' },
            { title: 'Asset ID', data: 'asset_id', render: d => d ?? '-' },
            { title: 'Asset Type', data: 'asset_type', render: d => d ?? '-' },
            { title: 'Date', data: 'tr_date', render: d => d ?? '-' },
            {
                title: '', 
                data: 'id', 
                render: function(id) {
                let tr_type = $("#tr_type").val();  // get the transaction type
                return `
                    <a class="text-primary me-2" href="/expense/transaction/view?type=${tr_type}&id=${id}" title="View">
                        <i class="fas fa-eye"></i>
                    </a>
                    
                    <a class="text-secondary [[if check_role("transaction_edit")==False:]] d-none [[pass]]" href="/expense/transaction/edit?type=${tr_type}&id=${id}" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                `;
            }
            }
        ]
    });

    // Search button
    $("#submit").click(function(e){
        e.preventDefault();
        table.ajax.reload();
    });

    // Reset button
    $("#reset").click(function(e){
        e.preventDefault();
        $("select[name='asset_id']").val(null).trigger('change');
        $("select[name='asset_type']").val(null).trigger('change');
        table.ajax.reload();
    });
});
</script>
[[end]]
